  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http="x-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Plantilla</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" type"image/png" href="img/favicon.ico">
    <link href="../css/menu-sidebar.css" rel="stylesheet">
    <link href="../css/style3.css" rel="stylesheet" media="screen">
  </head>

  <body>
    
   
  <div class="container-fluid nopadding">
    <div id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top"
      id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="../index.html">Home</a>
        </li>
        <li><a href="perfil1">Poul</a></li>
        <li><a href="perfil2.html">Alonso</a></li>
        <li><a href="perfil3.html">vito</a></li>      
      </ul>
    </nav>
  </div>

    <section id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>

      <article id="miSlide" class="carousel slide">
        <ol class="carousel-indicators">
          <li class="active" data-target="#miSlide" data-slide-to="0"></li>
          <li data-target="#miSlide" data-slide-to="1"></li>
          <li data-target="#miSlide" data-slide-to="2"></li>
        </ol>º
        <div class="carousel-inner">
          <div class="item active"><img src="../img/foto1.jpg" class="adaptar"></div>
          <div class="item"><img src="../img/foto2.jpg" class="adaptar"></div>
          <div class="item"><img src="../img/foto3.jpg" class="adaptar"></div>
        </div>

        <a href="#miSlide" class="left carousel-control"  data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span></a>
          <a href="#miSlide" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

        </article>
      <article class="content-section-a">
         <div class="container">
            <div class="row">
            <div class="col-md-7">
              <hr class="section-heading-spacer">
        
              <h2 class="section-heading">
                <a href="#">VISION</a>
              </h2>
      
                <p class="lead">Queremos ayudar a relanzar uno de los oficios más valorados para el público masculino. Te encontrarás en un entorno confortable y con toda la esencia de las barberías más tradicionales americanas.
            
                
              </p>
            </div>
              <div class="col-md-5"> <img src="../img/ficha1.jpg" class="img-fluid"></div>
         </div>
       </div>
        </article>
        <article class="content-section-b">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
               <img src="../img/ficha2.jpg" class="img-fluid">
             </div>
              <div class="col-md-7"><hr class="section-heading-spacer">              

                <br/><h1 class="section-heading">MISION</h1><br><p class="lead">Barberos y estilistas especializados que cuidan de tu look. Sabemos lo que te quedará mejor, como cortarte el pelo y arreglarte la barba. Cuidamos mucho el detalle y el trato con el cliente.<a href="#"></a></p></div>
                
              </div>
            </div>
          </article>
 <div class="banner">
        <div class="container"><div class="row">
        <div class="col-md-5"></div>
        <h2 class="pie">la mejor experiencia <br>en barberia...</h2>
        <div class="col-md-7">&nbsp;</div>
      </div>
      </div>
      </div>
 
        </section>
       

    <footer>
      <div class="bg-dark py-5">
      <div class="container">
      <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><p class="text-center">pp08069</p></div>
      <div class="col-md-4"></div>
      </div>  
      </div>
      </div>
    </footer>
         </div>


<!-- Bootstrap core JavaScript-->
<script src="../js/jquery/jquery-1.12.4.js"></script>
<script src="../js/bootstrap/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var trigger = $('.hamburger'),
    overlay = $('.overlay'),
    isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }

    $('[data-toggle="offcanvas"]').click(function () {
      $('#wrapper').toggleClass('toggled');
    });  
  });
</script> 
    </div>
        </body>
    </html>